# 함수 사용하기

## 1. 간단한 함수 만들기

#### (1)함수 만들기
#### def 함수이름():

In [2]:
def hello() :
    print('Hello world!')

#### (2) 함수 호출하기
#### 함수이름()

In [4]:
hello()

Hello world!

## 2. 매개변수가 있는 함수 만들기

In [5]:
# 두 수를 더하는 함수
def add(a, b):
    print(a + b)

In [6]:
add(19,29)

48

## 3. Doc String - 함수 세부정보를 설명하는 문장

#### def 함수이름(매개변수)
#### """설명하는 문장"""
####  코드

In [10]:
def add(a, b):
    """이 함수는 a와 b를 더하여 반환하는 함수"""
    return(a +b)

In [9]:
x = add(10, 20)
x

30

## 4. 값을 여러개 반환하기

#### def 함수이름(매개변수):
####     return 반환값1, 반환값2

In [11]:
def add_sub(a, b):
    return a+b, a-b

In [12]:
x, y = add_sub(10, 20)

In [13]:
print(x, y)

30 -10

In [14]:
# 여러 개의 값을 반환하는 함수의 결과를 하나의 변수에 저장할 경우
x = add_sub(10,20)

In [16]:
# 변수 한개에 튜플로 저장됨
x

(30, -10)

### <연습문제>
#### x를 y로 나눴을 때 몫과 나머지를 출력하는 함수 작성

In [19]:
def get_quotient_remainder(x, y):
    return x/y, x%y

In [20]:
result = get_quotient_remainder(10, 3)
result

(3.3333333333333335, 1)

### <연습문제>
#### 표준입력으로 2개의 정수를 입력
#### 반환값으로 덧셈, 뺄셈, 곱셈 , 나눗셈의 결과를 반환하는 함수를 작성

In [22]:
a, b = map(int,input().split())
def abcd(a, b):
    return a+b, a-b, a*b, a/b

result = abcd(a, b)
result

 5 9

(14, -4, 45, 0.5555555555555556)

## 2. 위치 인수, 리스트 언패킹

### (1) 위치 인수 사용 함수

In [2]:
def print_num(a, b, c):
    print(a)
    print(b)
    print(c)

In [3]:
print_num(20, 5, 8)

20
5
8

### (2) 리스트를 매개변수로 사용

In [7]:
# 리스트의 수를 매개변수로 줄 경우 -> 리스트 언패킹
a = [10, 20 ,30]
print_num(*a)

10
20
30

In [8]:
print_num(*[19, 23, 43])

19
23
43

### (3) 가변 인수 함수

#### def 함수이름(*매개변수)

In [10]:
def print_numbers(*args):
    for item in args:
        print(item)

In [11]:
print_numbers(10)

10

In [12]:
print_numbers(12, 4, 33)

12
4
33

In [14]:
b = [1, 2, 3, 4, 5]
print_numbers(*b)

1
2
3
4
5

## 2. 키워드 함수

In [17]:
def personal_info(name, age, address):
    print('이름 :', name)
    print('나이 :', age)
    print('주소 :', address)

In [18]:
personal_info('홍길동', 30, '서울')

이름 홍길동
나이 30
주소 서울

In [19]:
personal_info(32, '홍길동' , '신림')

이름 32
나이 홍길동
주소 신림

In [21]:
#키워드 인수
personal_info(name = '홍길동', age = 32 , address = '서울')

이름 홍길동
나이 32
주소 서울

In [23]:
print(1, 2, 3, end=' ', sep='/')

1/2/3

## 3. 딕셔너리 언패킹

In [24]:
x = {'name' : '홍길동', 'age': 35, 'address': '서울시 신림동'}
# 딕셔너리를 이용해서 인수 값을 넣을 때 
# 함수(**딕셔너리)
personal_info(**x)

이름 홍길동
나이 35
주소 서울시 신림동

In [25]:
personal_info(*x)

이름 name
나이 age
주소 address

### 가변 인수로 딕셔너리 사용하기 
### der 함수이름(**매개변수)

In [26]:
def personal_info(**kwargs):
    for key, arg in kwargs.items():
        print(key, ':' , arg, sep=' ')

In [27]:
personal_info(name = '홍길동')

name : 홍길동

In [29]:
personal_info(name = '홍길동', age = 34)

name : 홍길동
age : 34

In [30]:
def personal_info(name, age, address='비공개'):
    print('이름 :', name)
    print('나이 :', age)
    print('주소 :', address)

In [31]:
personal_info('홍길동' , 49)

이름 : 홍길동
나이 : 49
주소 : 비공개

### <연습문제>
#### 가변인수를 갖는 함수 get_max_score()를 구현
#### 입력한 인수에 대해 가장 높은 점수를 반환하는 구현

In [39]:
def print_max(*args):
    args_list = list(args)
    args_list.sort()
    print(args_list[-1])

In [41]:
print_max(1,6, 4, 2, 5)

6

In [42]:
def get_max_score(*args):
    max = args[0]
    for i in args:
        if i > max:
            max = i
    return max

In [43]:
a, b, c, d = 83, 75, 89, 58
result = get_max_score(a, b, c, d)
print(result)

89

### <연습문제2>
#### 표준 입ㄺ으로 국어 영어 수학 과학 점수가 입력됨
#### 가장높은 점수, 가장 낮은 점수, 평균점수를 반환하는 함수 구현
#### 함수명: get_min_max_avg()

In [48]:
kor, eng, mat, sci = map(int,input().split())
def get_min_max_avg(kor, eng, mat, sci):
    list = [kor, eng, mat, sci]
    list.sort()
    print('가장 높은 점수 : ' , list[-1])
    print('가장 낮은 점수 : ' , list[0])
    print('평균 점수 : ' , (list[0] + list[1] + list[2] + list[3])/4)
get_min_max_avg(kor, eng, mat, sci)

 50 80 70 60

가장 높은 점수 :  80
가장 낮은 점수 :  50
평균 점수 :  65.0

In [51]:
def get_min_max_avg2(*args):
    avg = sum(args) /len(args)
    max = min = args[0]
    for i in args :
        if i > max:
            max = i
        if i < min:
            min = i
    return min, max, avg

In [52]:
kor, eng, math, sci = 84, 75, 90, 87
result = get_min_max_avg2(kor, eng, math, sci)
print(result)

(75, 90, 84.0)