# 리스트와 튜플 응용

## 1. 리스트에 요소 추가하기

In [2]:
a = [10, 20, 30]
a.append(50)
a

[10, 20, 30, 50]

In [3]:
len(a)

4

In [4]:
a = []
a.append(10)
a

[10]

In [5]:
a = [10, 20, 30]
a.append([500,600])
a

[10, 20, 30, [500, 600]]

In [6]:
len(a)

4

In [8]:
# 리ㅡ트에 여러 개의 요소를 추가할 경우 extend() 사용
a = [10, 20, 30]
a.extend([500,600])
a

[10, 20, 30, 500, 600]

In [9]:
# 특정 위치에 요소 추가
a = [10, 20, 30]
a.insert(2, 500)
a

[10, 20, 500, 30]

In [11]:
# insert()를 이용해서 맨 끝에 데이터 추가 
a = [10, 20, 30]
a.insert(len(a), 500)
a

[10, 20, 30, 500]

In [12]:
# 리스트를 중간에 추가
a = [10, 20, 30]
a.insert(1, [500, 600])
a

[10, [500, 600], 20, 30]

## 2. 리스트에서 요소 삭제하기

In [13]:
a = [10, 20, 30]
a.pop()
a

[10, 20]

In [14]:
# pop()에서 삭제할 인덱스 지정
a = [10, 20, 30]
a.pop(1)
a

[10, 30]

In [15]:
# pop() 대신 del 명령
a = [10, 20, 30]
del a[1]

In [16]:
a

[10, 30]

##### remove() : 특정값을 삭제

In [17]:
a = [10, 20, 30]
a.remove(20)
a

[10, 30]

#### <span style = 'color:red'> <주의> remove시 여러 개의 값이 있을경우 처음 값만 삭제</sapn>

### a = [10, 20, 30, 20]
a.remove(20)
a

## 3. 특정값의 인덱스 구하기

In [20]:
a = [10, 20, 30, 40, 50, 60]
a.index (30)

2

## 4. 특정값의 갯수 구하기

In [21]:
a = [10, 20, 30, 20, 50, 20]
a.count(20)

3

## 5.리스트의 순서 뒤집기

In [22]:
a = [10, 20, 30, 40, 50, 60]
a.reverse()

In [23]:
a

[60, 50, 40, 30, 20, 10]

## 6. 정렬하기

In [25]:
a = [13, 33, 27, 3, 54, 9]
a.sort()
a

[3, 9, 13, 27, 33, 54]

## 7. 모든 요소 삭제하기(리스트)

In [27]:
a = [10, 20, 30, 40, 50, 60]
a.clear()
a

[]

## 8. 슬라이스로 리스트 조작하기

In [28]:
a = [10, 20, 30]
a[len(a):] = [500,600]
a

[10, 20, 30, 500, 600]

# 리스트의 할당과 복사

In [29]:
a = [0, 0, 0, 0, 0]
b = a

In [30]:
a == b

True

In [31]:
a is b  # is = 객체 주소가 같은지 비교

True

In [32]:
b[2] = 99
b

[0, 0, 99, 0, 0]

### copy() 를 이용한 리스트 복사

In [33]:
a = [0, 0, 0, 0, 0]
b = a.copy()

In [34]:
# 두 객체가 같은지 비교
a is b

False

In [35]:
a == b

True

In [36]:
b[2] = 99

In [37]:
b

[0, 0, 99, 0, 0]

In [38]:
a

[0, 0, 0, 0, 0]

### 반복문으로 리스트 출력

In [39]:
a = [13, 33, 27, 3, 54, 9]
for i in a:
    print(i)

13
33
27
3
54
9

#### 인덱스와 요소값 함께 출력

In [40]:
a = [13, 33, 27, 3, 54, 9]
for index, value in enumerate(a):
    print(index, value)

0 13
1 33
2 27
3 3
4 54
5 9

In [41]:
# 인덱스를 1부터 출력
a = [13, 33, 27, 3, 54, 9]
for index, value in enumerate(a, start=1):
    print(index, value)

1 13
2 33
3 27
4 3
5 54
6 9

In [46]:
# 아래의 리스트에서 가장 큰 수를 구하시오.
a = [13, 33, 27, 3, 54, 9]
largest = a[0]
for i in a:
    if i > largest:
        largest = i
print(largest)

54

In [48]:
# 아래의 리스트에서 가장 작은 수를 구하시오.
a = [13, 33, 27, 3, 54, 9]
smallest = a[0]
for i in a:
    if i < smallest:
        smalliest = i
print(smallest)

13

In [49]:
# sort()를 이용한 가장 큰 수 구하기
a = [13, 33, 27, 3, 54, 9]
a.sort(reverse=True)
a

[54, 33, 27, 13, 9, 3]

In [51]:
a[0] #리스트에서 가장 큰 수

54

In [52]:
# sort()를 이용해 가장 작은 수 구하기
a = [13, 33, 27, 3, 54, 9]
a.sort()
a

[3, 9, 13, 27, 33, 54]

In [53]:
a[0]

3

In [57]:
a = [13, 33, 27, 3, 54, 9]
print(min(a))  # 가장 작은 수

3

In [56]:
print(max(a)) # 가장 큰 수

54

In [59]:
a = [10, 20, 30, 40, 50]
print(sum(a))   # 모든 요소의 합계

150

### <연습문제>
#### a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
#### a리스트에서 중복된 요소는 제거하고 하나만 포함시켜 새로운 리스트를 만든다.

In [1]:
a = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
new_list = []

for i in a:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[10, 20, 30, 50, 60, 40, 80]

### a 리스트에서 각 요소의 갯수를 출력

In [2]:
for i in new_list:
    print(i, a.count(i))

10 2
20 2
30 1
50 2
60 1
40 2
80 1

# 리스트 표현식 사용하기

### (1) 리스트 안에서 for문 사용하기

In [5]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
b = list(i for i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
c = [i + 5 for i in range(10)]
c

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

### (2) 리스트 안에서 if조건문 사용하기

In [9]:
a = [i for i in range(10) if i % 2 == 0]
a

[0, 2, 4, 6, 8]

In [11]:
# i 값을 연산 처리
a = [i + 5 for i in range(10) if i % 2 == 1]
a

[6, 8, 10, 12, 14]

### (3) 리스트 표현식에 중첩for문 사용하기

In [14]:
# 구구단 리스트 생성
a = [i * j for j in range(2,10) 
               for i in range(1, 10)]
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

# 리스트에 맵 사용하기

In [15]:
# 실수로 된 리스트를 정수 리스트로 변환
a = [1.2, 2.5, 3.7 , 4.6]
for i in range(len(a)):
    a[i] = int(a[i])

a

[1, 2, 3, 4]

In [16]:
# map 이용
a = [1.2, 2.5, 3.7 , 4.6]
a = list(map(int,a))
a

[1, 2, 3, 4]

In [17]:
# 숫자를 문자리스트로 변환
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [26]:
# 표준입력을 사용하여 리스트 만들기
a = list(map(int,input().split()))

 10 20 30 40 50

In [27]:
a

[10, 20, 30, 40, 50]

In [30]:
a, b = [10, 20]

### <연습문제>
#### a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
####리스트 a에 들어 있는 문자열 중에서 길이가 5인 것들을 리스트로 출력

In [3]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']

b = [i for i in a if len(i) == 5]
b

['alpha', 'bravo', 'delta', 'hotel', 'india']

### <연습문제>
#### 표준입력으로 정수 두개가 입력됨
#### 첫번째 입력값의 범위는 1-20. 두번째 입력값의 범위는 10-30
#### 첫번째 정수부터 두번째 정수까지를 지수로 하는 2의 거듭제곱 리스트
#### 리스트에서 앞에서 2번째 요소는 제외

In [7]:
start, end = map(int, input().split())
r = [2**i for i in range(start, end+1) if i != start+1]
print(r)

 1 10

[2, 8, 16, 32, 64, 128, 256, 512, 1024]