In [1]:
def calc_average(x, y):
    return (x + y)/2

In [2]:
calc_average(3,4)

3.5

In [3]:
calc_average(5,6)

5.5

In [6]:
a = int(input('첫 번째 입력 : '))
b = int(input('두 번째 입력 : '))
print('두 입력의 합 : ',a+b)

첫 번째 입력 :  12
두 번째 입력 :  34

두 입력의 합 :  46

In [12]:
for i in range(9,0,-1):
    print(7, '*' , i ,'=', 7 * i)

7 * 9 = 63
7 * 8 = 56
7 * 7 = 49
7 * 6 = 42
7 * 5 = 35
7 * 4 = 28
7 * 3 = 21
7 * 2 = 14
7 * 1 = 7

In [14]:
st = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in st:
    print(i+1, end= ' ')

2 3 4 5 6 7 8 9 10 11

In [27]:
def show_reverse(x):
    x = str(x)
    print(a[::-1])

In [28]:
show_reverse(hello)

NameError: name 'hello' is not defined

In [29]:
def show_reverse(x):
    x = str(x)  # 입력 x를 문자열로 변환하여 문자를 엑세스할 수 있도록 함
    print(x[::-1])

In [30]:
show_reverse(hello)

NameError: name 'hello' is not defined

In [32]:
def show_reverse(x):
    x = str(x) 
    print(x[::-1])

show_reverse(x)

NameError: name 'x' is not defined

In [33]:
def show_reverse(input_str):
    reversed_str = input_str[::-1]
    print(reversed_str)

In [35]:
show_reverse('hello')

원본 문자열: hello
결과: olleh

In [36]:
list = []
list.append(1)
list.append(2)
list.append(3)
list.pop(0)
list.pop(1)
list.pop(2)

[1, 2, 3]

In [49]:
dc = {"새우깡" : 1200, "콘치즈" : 1300, "꼬깔콘":1250}
dc.update(홈런볼=900)

for i in dc:
    dc[i] += 100

if '콘치즈' in dc:
    dc.pop('콘치즈')

dc.update(치즈콘=1300)
        
print(dc)

{'새우깡': 1300, '꼬깔콘': 1350, '홈런볼': 1000, '치즈콘': 1300}