# 세트 사용하기

## 1. 세트 만들기

In [1]:
# 세트 - 세트{ 값, 값, 값 }
# 중복을 허용하지 않음.

In [4]:
fruits = { 'strawberry', 'grape', 'orange' , 'apple' }
fruits

{'apple', 'grape', 'orange', 'strawberry'}

In [5]:
# 세트에 들어가는 요소는 중복 될 수 없음
fruits = {'apple', 'apple', 'cherry'}
fruits

{'apple', 'cherry'}

In [6]:
# 세트는 특정 요소만 출력할수 없음.
fruits = { 'strawberry', 'grape', 'orange' , 'apple' }
print(fruits[0])

TypeError: 'set' object is not subscriptable

#### (1) 세트에 특정 값이 있는지 확인

In [8]:
# 값 in 세트
fruits = { 'strawberry', 'grape', 'orange' , 'apple' }
'orange' in fruits

True

In [9]:
# 요소가 없는 지 확인
'peach' not in fruits

True

#### (2) set()를 사용하여 세트 만들기

In [11]:
a = set('pineapple') #유일한 문자만 세트로 만들어짐
a

{'a', 'e', 'i', 'l', 'n', 'p'}

#### (3) range를 사용하여 set 만들기

In [12]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

#### (4) 빈세트 만들기

In [17]:
c = set()
c
type(c)

set

### <주의할 점>

In [16]:
c = {}  # 세트가 아닌 딕셔너리로 생성됨
type(c)

dict

In [18]:
# 세트 안에 세트를 넣을 수 없음
A = {{1,2}, {3,4}}

TypeError: unhashable type: 'set'

## 2. 집합 연산자

### (1) 합집합
#### 세트1 | 세트2
#### set.union(세트1, 세트2)

In [19]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}
a|b

{1, 2, 3, 4, 5, 6}

In [20]:
set.union(a,b)

{1, 2, 3, 4, 5, 6}

### (2) 교집합

#### 세트1 & 세트2
#### set.intersection(a,b)

In [21]:
a & b

{3, 4}

In [24]:
set.intersection(a,b)

{3, 4}

### (3) 차집합

#### 세트1 - 세트2
#### difference()

In [26]:
a - b

{1, 2}

In [27]:
set.difference(a,b)

{1, 2}

In [28]:
set.difference(b,a)

{5, 6}

### (4) Symmetric Difference(대칭 차집합)

#### 세트1^세트2
#### symmetric_difference()

#### XOR 은 서로 같으면 거짓(0), 다르면 참 (1)

In [29]:
a^b

{1, 2, 5, 6}

In [30]:
set.symmetric_difference(a,b)

{1, 2, 5, 6}

### (5) 집합 연산 후 할당하기

#### 세트1 |= 세트2, 세트1.update(세트2)
#### 세트1 &= 세트2, 세트1.intersection_update(세트2)
#### 세트1 -= 세트2, 세트1.difference_update(세트2)
#### 세트1 ^= 세트2, 세트1.symmetric_difference_update(세트2)

In [31]:
a = {1, 2, 3, 4}
a &= {2, 3, 5, 6}
a

{2, 3}

### (6) 부분집합, 상위집합

In [33]:
# <=, issubset() : 현재세트가 다른 세트의 부분집합인가.
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4, 5}

True

In [36]:
# >=, issupperset() : 현재세트가 다른 세트의 상위 집한인가.
a = {1, 2, 3, 4, 5}
a >= {1, 2}

True

In [35]:
a.issuperset({1,2})

True

In [37]:
# == : 같은 집합인지 
# != : 다른 집합인지

### (7) 세트가 겹치지 않는지 확인

#### 세트1.isdisjoint(세트2)

In [41]:
a = {1, 2, 3, 4}
a.isdisjoint({3, 6, 7, 9})

False

## 3. 세트 조작하기

#### (1) 세트에 요소 추가

In [42]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

#### (2)특정 요소 삭제

In [43]:
# remove()
a.remove(3)

In [44]:
a

{1, 2, 4, 5}

In [45]:
a.remove(6) # 없는 요소를 삭제하면 에러 발생

KeyError: 6

In [46]:
# discard() - 특정 요소 삭제. 요소가 없어도 에러 발생하지 않음
a.discard(6)

In [47]:
# pop() - 임의의 요소 삭제
a = {1, 2, 3, 4}
a.pop()

1

In [48]:
# clear() - 모든 요소 삭제
a.clear()
a

set()

### (3) 세트 요소의 갯수

In [49]:
# len()
a = {1, 2, 3, 4}
len(a)

4

## 4. 세트의 할당과 복사

In [50]:
a = {1, 2, 3, 4}
b = a
b

{1, 2, 3, 4}

In [52]:
a is b # 두 객체가 서로 같다

True

In [53]:
b.add(5)
a

{1, 2, 3, 4, 5}

In [54]:
# 두 세트를 별개의 객체로 만드려면 copy()사용
a = {1, 2, 3, 4}
b = a.copy()

In [55]:
b.add(5)

In [56]:
a

{1, 2, 3, 4}

In [57]:
b

{1, 2, 3, 4, 5}

In [58]:
a is b

False

In [60]:
a == b # 두 객체가 내용이 같은지 비교

False

### (5) 반복문으로 세트 출력하기

In [61]:
# for 변수 in 세트 :
a = {1, 2, 3, 4}
for i in a:
    print(i)

1
2
3
4

## 5. 세트 표현식

In [62]:
a = {i for i in 'apple'}
a

{'a', 'e', 'l', 'p'}

In [63]:
set(i for i in 'apple')

{'a', 'e', 'l', 'p'}

In [65]:
# 세트 표현식에 if 조건문 사용,
a = {i for i in range(10) if i % 2 ==0}
a

{0, 2, 4, 6, 8}

### <연습문제>
#### 1 ~ 100까지 숫자 중 3과 5의 공배수를 세트로 출력하시오
#### 3의 배수 집합, 5의 배수 집합을 구하고 교집합을 구함.

In [69]:
a = {i for i in range(1,101) if i % 3 == 0}
b = {i for i in range(1,101) if i % 5 == 0}
a & b

{15, 30, 45, 60, 75, 90}

### <연습문제2>
#### 표준입력으로 두개의 정수를 입력
#### 두 숫자의 공약수를 세트로 출력

In [78]:
a, b = map(int, input().split())
c = {i for i in range(1,a) if a % i == 0}
d = {i for i in range(1,b) if b % i == 0}
c & d

 20 30

{1, 2, 5, 10}