In [1]:
2*3

6

In [4]:
4//3

1

### <연습문제>
#### 1. 아파트에서 소음이 가장 심한 층수 출력하기
#### 국립 환경과학원에서 아파트에서 소음이 가장 심한 층수를 구하는 계산식을 발표했다. 소음이 가장 심한 층은 0.2467 * 도로와의 거리(m) + 4.159
#### 도로와의 거리: 12m
#### 단 층수를 출력할 대는 소수점 이하는 버린다.

In [7]:
print(int(0.2467*12+4.159))

7

### 변수 만들기

In [6]:
x = 10
print(x)

10

In [8]:
y = 'Hello, World!'
print(y)

Hello, World!

In [9]:
type(y)

str

#### 여러 개의 변수에 한번에 값 할당하기

In [12]:
x, y, z = 10, 20, 30
print(x)
print(y+z)

10
50

### 모든 변수에 같은 값을 할당

In [13]:
x = y = z = 10
x

10

In [14]:
y

10

In [15]:
z

10

### 두 변수의 값을 바꿀 경우

In [16]:
x, y = 10, 20
x

10

In [17]:
x, y = y, x

In [18]:
x

20

### 변수 삭제하기

In [19]:
x = 10
del x
x

NameError: name 'x' is not defined

### 값이 비어있는 변수 만들기

In [21]:
x = None

In [22]:
print(x)

None

### 변수를 연산에 사용하기

In [23]:
a = 10
b = 5
c = a + b
print(c)

15

In [24]:
a + 20

30

In [25]:
a

10

In [26]:
a += 20

In [27]:
a

30

### -=, *=, /+, %=

### 변수에 입력 값 할당하기

In [29]:
input()

 hello world

'hello world'

In [30]:
a = input()

 hihi

In [31]:
print(a)

hihi

In [32]:
a = input('문자열을 입력하세요 : ')

문자열을 입력하세요 :  대박..

In [33]:
a

'대박..'

In [34]:
a = input('첫번째 숫자 입력 : ')
b = input('두번째 숫자 입력 : ')
print(a+b)

첫번째 숫자 입력 :  25
두번째 숫자 입력 :  15

2515

In [35]:
type(a)

str

In [36]:
a = int(input('첫번째 숫자 입력 : '))
b = int(input('두번째 숫자 입력 : '))
print(a+b)

첫번째 숫자 입력 :  55
두번째 숫자 입력 :  25

80

### 입력 값을 여러 개의 변수에 저장

In [42]:
x, y = input().split() #입력값을 공백으로 구분하여 입력

 60 70

In [43]:
x

'60'

In [44]:
y

'70'

In [45]:
x, y = input().split(',') # 입력 구분값으로 , 를  사용

 20,87

In [46]:
x

'20'

In [47]:
y

'87'

### <연습문제>

### a, b 변수에 값을 동시에 입력하여 두수를 더한 결과를 출력

In [57]:
a, b = input().split()
c = int(a) + int(b)
print(c)

 20 30

50

### map()을 사용하여 정수로 변환

In [58]:
a, b = map(int,input('두 숫자를 입력 : ').split())
print(a+b)

두 숫자를 입력 :  35 25

60

### <연습문제>

### 아래와 같이 두 개의 값을 입력받는다.
### 입력된 값을 실수로 변환하여 변수 2개에 저장하고 합을 출력한다.
### 입렵값:2.5 3.8

In [59]:
a, b = map(float, input('두 숫자를 입력 :').split())
print(a+b)

두 숫자를 입력 : 2.5 3.8

6.3

#### 2. 평균 점수 구하기
#### 표준 입력으로 국어, 영어, 수학, 과학 점수가 입력된다.
#### 평균 점수를 출력하는 프로그램을 작성하시오
#### input에서 안내 문자열을 출력되지 않는다.
#### 평균 점수는 소수점 이하는 잘라버린다.

In [61]:
a, b, c, d = map(int, input().split())
e = int((a+b+c+d)/4)
print(e)

 65 98 87 85

83

### 출력 방법 알아보기

In [1]:
#여러 개 값 출력
print(10, 20, 30)

10 20 30

In [2]:
print('hello','world')

hello world

In [3]:
print(10, 20, 30, sep=',') # sep - separator의 약자

10,20,30

In [4]:
print('hello','world', sep='')

helloworld

In [5]:
print(10,20,30,sep='\n')

10
20
30

In [6]:
#print() 는 기본적으로 출력값 끝에 \n 작용
print(10)
print(29)
print(38)

10
29
38

In [12]:
print(10, end=' ')
print(20, end=' ')
print(30, end='')

10 20 30

### <연습문제>

### 1.Python 3.11 100 을 한 줄에 출력

In [15]:
print('Python 3.11', end=' ')
print(100)

Python 3.11 100