# 람다 표현식

## 1. 람다표현식으로 함수만들기

#### 숫자를 받아 10을 더해서 반환하는 함수

In [1]:
def plus_ten(x):
    return x + 10

In [2]:
plus_ten(2)

12

#### 함수를 람다식으로 변환

In [3]:
lambda x: x+10

In [4]:
# 람다식을 사용하기 위해 변수에 할당
plus_ten = lambda x: x+10

In [5]:
plus_ten(3)

13

### (1) 람다표현식 자체 호출

In [7]:
(lambda x:x+10)(3)

13

### (2) 람다식 안에서는 변수를 만들 수 없다.

In [8]:
(lambda x : y=10; x + y)(1)

SyntaxError: invalid syntax (35054088.py, line 1)

In [10]:
# 변수를 사용하려면 외부에서 선언 후 사용
y = 3
(lambda x : x + y )(5)

8

### (3) 람다식을 인수로 사용

#### 함수를 정의하여 map을 사용하기

In [11]:
def plus_ten(x):
    return x+10

In [12]:
# 앞에서 선언한 함수를 이용하여 값 변환하기
list(map(plus_ten, [10, 20, 30]))

[20, 30, 40]

#### 위의 내용을 람다식으로 변환

In [13]:
# 위의 식에서 plus_ten 함수 자리에 람다식을 작성
list(map(lambda x:x+10, [10, 20, 30]))

[20, 30, 40]

## 2. 람다 표현식에 조건식 사용하기

#### lambda 매개변수 : 식1 if 조건식 else 식2

In [15]:
# 3의 배수만 문자로 변환하여 출력
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : str(x) if x % 3== 0 else x, a))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

#### <span style='color:red'> 람다표현식에서 if를 사용했다면 반드시 else를 사용 <br>
#### 람다 표현식 안에서는 elif를 사용할수 없다.</span>

In [17]:
list(map(lambda x : str(x) if x % 3== 0, a))

SyntaxError: expected 'else' after 'if' expression (1929490868.py, line 1)

### if를 연속적으로 사용하기

In [18]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : str(x) if x == 1 else float(x) if x == 2 else x+10, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
# 위의 람다식을 함수로 표현
def func(x):
    if x == 1:
        return str(x)
    elif x == 2:
        return float(x)
    else:
        return x+10

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(func, a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

## 3. map에 여러개 인자 사용하기

In [22]:
# 인자가 여러 개 필요한 경우 콤마로 구분해서 넣는다.
a = [1,2,3,4,5]
b = [2,3,4,5,10]
list(map(lambda x, y : x* y, a, b))

[2, 6, 12, 20, 50]

## 4. filter 사용하기

In [23]:
# 함수 선언
def func(x):
    return x > 5 and x <10

In [25]:
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(func, a))

[8, 7, 9]

In [26]:
# 위의 func를 람다식으로 변환
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
list(filter(lambda x: x>5 and x<10, a))

[8, 7, 9]

## 5. reduce 사용하기

#### reduce는 내장함수가 아니므로 functools 모듈을 import해야함

In [27]:
from functools import reduce

### reduce 사용법
#### reduce(함수, 반복 객체)

In [28]:
def func(x, y):
    return x + y

In [29]:
a = [1, 2, 3, 4, 5]
reduce(func, a)

15

In [30]:
# 위의 func() 대신에 람다식 사용
a = [1, 2, 3, 4, 5]
reduce(lambda x, y: x + y, a)

15

### <연습문제>
#### files = ['font', '1.png', '10.jpg', '11.gif', '2.jpg', '3.png', 'table.xlsx', 'spec.docx']
#### 확장자가 .jpg, .png인 이미지 파일만 출력되게 만드시오. 람다표현식을 사용해야 하며 출력 결과는 리스트 형태라야 함.

In [38]:
files = ['font', '1.png', '10.jpg', '11.gif', '2.jpg', '3.png', 'table.xlsx', 'spec.docx']
list(filter(lambda x : x.find('.jpg') != -1 or x.find('.png') != -1, files))

['1.png', '10.jpg', '2.jpg', '3.png']

### <연습문제2>
#### 표준입력으로 숫자.확장자 형식으로 된 파일 이름 여러개가 입력.
#### 파일 이름이 숫자 3개 이면서 앞에 0이 들어가는 형식으로  출력되게 만든다.
#### 람다 표현식을 사용, 출력결과는 리스트

In [67]:
file = input()
prefix = '%03d' % int(file[:file.rfind('.')])
suffix = file[file.rfind('.'):]
print(prefix)
print(prefix+suffix)

 1.jpg

001
001.jpg

In [69]:
# 위의 내용을 람다식으로 변경
files = input().split()
list(map(lambda x : '%03d' % int(x[:x.rfind('.')]) + x[x.rfind('.'):] , files))

 10.jpg 1.pjg

['010.jpg', '001.pjg']